<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.mika.mikaplusscreensnap</string>
    <key>CFBundleName</key>
    <string>Mika+ScreenSnap</string>
    <key>CFBundleDisplayName</key>
    <string>Mika+ScreenSnap</string>
    <key>CFBundleExecutable</key>
    <string>MikaScreenSnap</string>
    <key>CFBundleVersion</key>
    <string>3.3.1</string>
    <key>CFBundleShortVersionString</key>
    <string>3.3.1</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Mika+ScreenSnap needs screen capture permission to take screenshots of your screen, selected areas, and individual windows.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/Mukaarts/MikaScreenSnap/master/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>eauiHgP4PM9ynLekAmo3URrX3ye3HW7D53xOZa5AeYI=</string>
</dict>
</plist>
